@page "/form"
@using BlazorBootstrap;
@using Invoicer.Components.Invoice_Line
@using Invoicer.Data.Invoice
@using MudBlazor;
@using Invoicer.Components;

<div style="display: inline-flex; flex-direction: column;">

	<table id="invoiceTable">
		<tr style="text-align:center">
			<th>Description</th>
			<th>Date</th>
			<th>Price</th>
			<th>QTY</th>
		</tr>
		@foreach (var invoiceLine in invoice)
		{
			<tr>
				<InvoiceLine invoiceline="invoiceLine" />
			</tr>
		}

	</table>
	<button type="button" @onclick="Log" @onclick:preventDefault @onsubmit:preventDefault>LOG ME</button>

</div>

<span>
	<Button @onclick="AddNewInvoiceLine">New Item</Button>
</span>
@code {
	private List<InvoiceItem> invoice = new List<InvoiceItem>();


	private void Log()
	{

		invoice.ForEach(invoiceline =>
		{
			System.Diagnostics.Debug.Print(invoiceline.ToString());

		});
	}

	private void AddNewInvoiceLine()
	{
		invoice.Add(new InvoiceItem());	
	}



}
