@page "/form"
@using BlazorBootstrap;
@using Invoicer.Components.Invoice_Line
@using Invoicer.Data.Invoice
@using MudBlazor;
@using Invoicer.Components;

<div style="display: inline-flex; flex-direction: column;">

	<table id="invoiceTable">
		<tr style="text-align:center">
			<th>Description</th>
			<th>Date</th>
			<th>Price</th>
			<th>QTY</th>
		</tr>
		<tr>
			<InvoiceLine Invoice="invoice" />
		</tr>
	</table>
	@* <Button @onclick="Log">Console log</Button> *@
</div>


@code {
	private List<InvoiceItem> invoice = new List<InvoiceItem>();

	private void Log()
	{
		invoice.ForEach(item =>
		{
			System.Diagnostics.Debug.Print(item.Description.ToString());

		});
	}

}
