@page "/form"
@using Invoicer.Components.Invoice_Line
@using Invoicer.Data.Invoice
@using MudBlazor;
@using Invoicer.Components;



	<MudSimpleTable Style="overflow-x: auto;">
		<thead>
			<tr>
				<th>Description</th>
				<th>Date</th>
				<th>Price</th>
				<th>QTY</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var invoiceLine in invoice)
			{
				<tr>
					<InvoiceLine invoice="invoice" invoiceline="invoiceLine" DeleteInvoiceLine="DeleteInvoiceLine" />
				</tr>
			}
		</tbody>
	</MudSimpleTable>

@* 	<table id="invoiceTable">
		<tr style="text-align:center">
			<th>Description</th>
			<th>Date</th>
			<th>Price</th>
			<th>QTY</th>
		</tr>
		@foreach (var invoiceLine in invoice)
		{
			<tr>
				<InvoiceLine invoice="invoice" invoiceline="invoiceLine" DeleteInvoiceLine="DeleteInvoiceLine" />
			</tr>
		}

	</table> *@
	 <button type="button" @onclick="Log" @onclick:preventDefault @onsubmit:preventDefault>LOG ME</button>


<span>
	<Button @onclick="AddNewInvoiceLine">New Item</Button>
</span>
@code {
	private List<InvoiceItem> invoice = new List<InvoiceItem>()
	{
		new InvoiceItem()
	};


	private void Log()
	{

		invoice.ForEach(invoiceline =>
		{
			System.Diagnostics.Debug.Print(invoiceline.ToString());

		});
	}

	private void AddNewInvoiceLine()
	{
		invoice.Add(new InvoiceItem());
	}

	protected void DeleteInvoiceLine(InvoiceItem invoiceitem)
	{
		invoice.Remove(invoiceitem);
	}

}
